DOCKER_UID=1000
DOCKER_GID=1000

APP_PORT=28000
APP_HTTPS_PORT=28443
DB_PORT=23306
REDIS_PORT=26379
FRONTEND_PORT=25173
MAIL_UI_PORT=28025
MAIL_SMTP_PORT=21025

DB_DATABASE=premind
DB_USERNAME=premind
DB_PASSWORD=premind_dev_password
MYSQL_ROOT_PASSWORD=root_dev_password

RUN_SEED=true
VITE_HTTPS=true
